<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="eventService"
          class="pl.dolega.springcore.service.EventService" />
    <bean id="ticketService"
          class= "pl.dolega.springcore.service.TicketService" />
    <bean id="userService"
          class="pl.dolega.springcore.service.UserService" />

    <bean id="eventDao"
          class="pl.dolega.springcore.dao.impl.EventDaoImpl" />

    <bean id="userDao"
          class="pl.dolega.springcore.dao.impl.UserDaoImpl" />

    <bean id="ticketDao"
          class="pl.dolega.springcore.dao.impl.TicketDaoImpl" />

    <bean id="bookingFacade"
          class="pl.dolega.springcore.facade.BookingFacadeImpl" />

    <bean id="userStorage" class="java.util.LinkedHashMap" />
    <bean id="eventStorage" class="java.util.LinkedHashMap" />
    <bean id="ticketStorage" class="java.util.LinkedHashMap" />

    <bean id="bootstrap"
          class="pl.dolega.springcore.bootstrap.Bootstrap" />

    <bean id="beanPostProcessor"
          class="pl.dolega.springcore.bootstrap.CustomProcessor" />

    <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="location">
                <value>classpath:dataSource.properties</value>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

</beans>